.grid_container {
  width: 100%;
  // height: 100vh;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 1216px) {
    padding: 0.5rem;
    grid-template-columns: 1fr;
  }
}

.grid_element {
  padding: 1rem;
}

.grid_element:nth-child(2) {
  overflow: auto;
}